
# General
.DS_Store
node_modules/
venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / NextJS
dist/
build/
.next/
out/
.vs/
bin/
obj/
*.dll

# Large Data
*.csv
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.log
*.zip
*.tar.gz
*.tif
*.r
*.asm
*.license
*.pys

# Unity Specific
[Ll]ibrary/
[Ll]ocalTempCache/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Bb]uilds/
*.apk
*.unitypackage
*.a
*.so
*.dylib
*.pdb
*.mdb
